&i2c0 {
    status = "okay";

    wm8960: wm8960@1a {
        compatible = "wlf,wm8960";
        reg = <0x1a>;
        label = "WM8960";
        status = "okay";
    };
};

&i2s0 {
    status = "okay";
    pinctrl-0 = <&i2s0_default>;
    pinctrl-names = "default";
};

/* Turn on GDMA (for I2S DMA) */
&dma {
    status = "okay";
};